body{
    background-color: #8080803d;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.menu{
    background-color: rgb(255, 255, 255);
    height: 70px;
    display: grid;
    grid-template-columns: 80% 20%;
    border-radius: 5px;
    padding: 0;
    position: relative;
}
.elements, .button{
    display: flex;
    align-items: center;
}
.menu a{
    margin-left: 50px;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(19, 24, 39);
    font-size: 1.2rem;
    transition: 0.5s;
}
.menu a:hover{
    /* color: rgb(99, 99, 217); */
    color: #ffa200;
    
}
.login{
    width: 150px;
    height: 40px;
    border-radius: 20pc;
    background-color: #ff9900;
    /* margin-left: 850px; */
    /* margin-right: 70px; */
    text-decoration: none;
    color: white;
    font-size: 15px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
.login:hover{
    background-color: #ffbb00;
    color: white;
}
.box{
    flex: 1;
}

.firstline{
    height: 600px;
    background-image:linear-gradient(rgba(17, 18, 34, 0.741),rgba(17, 18, 31, 0.397)) ,url(../Auto-Repair.jpg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    letter-spacing: 10px;
}
.firstline center h1{
    font-size: 80px;
}

/* body */

.contentcontainer{
    margin: 5% 7% 7% 7%;
    display: grid;
    grid-template-columns: 70% 30%;
    /* background-color: red; */
}
.contentcontainer .searchcontainer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 2% 0 2% 4%;
    font-size: 24px;
    color: rgb(56, 46, 129);
}
.contentcontainer .searchcontainer .search{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contentcontainer .searchcontainer .search .searchinput{
    width: 54%;
    height: 100%;
    margin-left: 2%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(56, 46, 129);
}
.contentcontainer .searchcontainer .search .searchbutton{
    width: 18%;
    border: 1px solid rgb(56, 46, 129);
    height: 100%;
    margin-left: 1%;
    border-radius: 5px;
    background-color: rgb(56, 46, 129);
    color: #e0e0e0;
    transition: 0.3s;
    cursor: pointer;

}
.contentcontainer .searchcontainer .search .searchbutton:hover{
    opacity: 0.7;
    
}
.contentcontainer .searchcontainer .latestpost .title{
    margin-top: 8%;
    font-size: 30px;
}
.contentcontainer .searchcontainer .latestpost hr{
    color: rgb(56, 46, 129);
    margin-bottom: 15px;
}
.contentcontainer .searchcontainer .latestpost .articles{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    
}
.contentcontainer .searchcontainer .latestpost .articles a{
    color: rgba(56, 46, 129, 0.5);
    text-decoration: none;
    transition: text-underline-offset 0.4s;
    margin-bottom: 5px !important;
    position: relative;
    
}
.contentcontainer .searchcontainer .latestpost .articles .a{
    margin-bottom: 5px;
}
.contentcontainer .searchcontainer .latestpost .articles a:hover{
    text-underline-offset: 10px;
}
.contentcontainer .searchcontainer .latestpost .articles a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(56, 46, 129, 0.3);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.contentcontainer .searchcontainer .latestpost .articles a:hover::before {
    transform: scaleX(1);
}
  
.contentcontainer .article{
    display: flex;
    flex-direction: column;
}
.contentcontainer .article .firstpart{
    width: 100%;
    text-align: center;
    color: rgb(56, 46, 129);
    font-size: 38px;
    text-decoration: underline;
    letter-spacing: 2px;
}
.contentcontainer .article .secondpart{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.contentcontainer .article .secondpart .img{
    width: 40% !important;
    flex-shrink: 0;
}
.contentcontainer .article .secondpart img{
    width: 100%;
    border-radius: 30px;
}
.contentcontainer .article .secondpart .desc{
    color: rgb(56, 46, 129, 0.6);
    font-size: 24px;
    padding-top: 3%;
    padding-left: 3%;
    letter-spacing: 1px;
}
.contentcontainer .article hr{
    width: 90%;
    color: rgb(56, 46, 129, 0.6);
    margin-top: 20px;
    margin-bottom: 40px;
}
.contentcontainer .article .thirdpart{
    font-size: 20px;
    letter-spacing: 1px;
}
.hr2{
    margin-bottom: 0 !important;
}
.parent{
    display: flex;
    flex-direction: row;
    color: rgb(56, 46, 129, 0.7);
    font-size: 20px;
    margin-top: 20px;
}
.child{
    margin-left: 5px;
}
.checked{
    color: orange;
}
.clicked{
    color: orange;
}
.stars{
    transition: 0.3s;
    cursor: pointer;
}
.contentcontainer .article .ninthpart{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 30px;
    color: rgb(56, 46, 129) !important;
}
.contentcontainer .article .ninthpart div{
    margin-left: 40px;
    margin-top: 10px !important;
}
.contentcontainer .article .ninthpart div i{
    margin-right: 6px;
}
.contentcontainer .article .tenthpart{
    margin-top: 30px;
    margin-top: 20px ;
}
.contentcontainer .article ul{
    padding-left: 20px;
    font-size: 22px;
    color: rgb(56, 46, 129);
    margin: 0;
}
/* Footer */
footer{
    background-color: rgba(29, 28, 28, 0.945);
    height: 250px;
    padding: 50px;
    color: white;
}
footer .details{
    /* margin: 50px; */
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}
footer .details .contactowner{
    padding: 40px;
    font-size: 30px;
}
footer .details .contactowner div{
    margin-left: 70px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
footer .details .contactowner div:not(.contactcompany){
    transform: translateY(-70px);
    margin-bottom: 20px;
    font-size: 24px;
    color: grey;
}
footer .details .contactowner .contactcompany{
    font-size: 18px;
    letter-spacing: 0;
    transform: translateY(-70px);
}
footer .details .aboutcompany{
    padding: 0px;
    padding-right: 70px;
    font-size: 20px;
}
footer .details .aboutcompany h1{
    margin: 0 !important;
    font-size: 36px;
}
footer .details .aboutcompany .lorem{
    color: gray;
}
