body{
    background-color: #8080803d;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.menu{
    background-color: rgb(255, 255, 255);
    height: 70px;
    display: grid;
    grid-template-columns: 80% 20%;
    border-radius: 5px;
    padding: 0;
    position: relative;
}
.elements, .button{
    display: flex;
    align-items: center;
}
.menu a{
    margin-left: 50px;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(19, 24, 39);
    font-size: 1.2rem;
    transition: 0.5s;
}
.menu a:hover{
    /* color: rgb(99, 99, 217); */
    color: #ffa200;
    
}
.login{
    width: 150px;
    height: 40px;
    border-radius: 20pc;
    background-color: #ff9900;
    /* margin-left: 850px; */
    /* margin-right: 70px; */
    text-decoration: none;
    color: white;
    font-size: 15px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}
.login:hover{
    background-color: #ffbb00;
    color: white;
}
.box{
    flex: 1;
}
.fix{
    justify-content: center;
    color: #fda728;
    font-size: 30px;
   
}
.auto{
    color: #ffffff;
}
.firstline{
    height: 600px;
    background-image:linear-gradient(rgba(17, 18, 34, 0.741),rgba(17, 18, 31, 0.397)) ,url(../Auto-Repair.jpg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    letter-spacing: 10px;
}
.firstline center h1{
    font-size: 80px;
}
.ok{
    width: 170px;
    height: 60px;
    border-radius: 20pc;
    background-color: #ff9900;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border: none;
    transition: 0.5s;
    margin-top: 170px;
    margin-left: -300px;
}
.ok:hover{
    background-color: #ff7300;
}

.repairshops{
    margin-top: 100px;
}
.repairshops .firstline{
    font-size: 50px;
    margin-left: 100px;
}
.repairshops .shopscontainer{
    margin: 50px 100px 50px 100px;
    height: 300px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.repairshops .shopscontainer .shop{
    /* border: 2px solid black; */
    box-shadow: 0 0 10px 5px grey;
    border-radius: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(56, 46, 129);
    width: 90%;
    height: 100%;
}
.repairshops .shopscontainer .shop .name{
    font-size: 36px;
    margin-bottom: 7%;
    margin-top: 5%;
    letter-spacing: 2px;
}
.repairshops .shopscontainer .shop div:not(.name){
    font-size: 20px;
    margin-bottom: 5%;
    letter-spacing: 1px;
}
.shopscontainer .container{
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}
.shopscontainer .container:hover{
    transform: translateY(-20px); 
}
.pagecontroller{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.prev, .suiv{
    color: rgb(56, 46, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(56, 46, 129);
    cursor: pointer;
    transition: 0.5s;
}
.prev:hover,.suiv:hover{
    background-color: rgb(56, 46, 129);
    color: white;
}
.page, .numpage{
    color: rgb(56, 46, 129);
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}
.numpage{
    padding-left: 10px;
}
.suiv{
    margin-left: 20px;
}
/* FOoter */
footer{
    background-color: rgba(29, 28, 28, 0.945);
    height: 250px;
    padding: 50px;
    color: white;
}
footer .details{
    /* margin: 50px; */
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}
footer .details .contactowner{
    padding: 40px;
    font-size: 30px;
}
footer .details .contactowner div{
    margin-left: 70px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
footer .details .contactowner div:not(.contactcompany){
    transform: translateY(-70px);
    margin-bottom: 20px;
    font-size: 24px;
    color: grey;
    /* padding-left: 50px; */
    /* color: grey; */
}
footer .details .contactowner .contactcompany{
    font-size: 18px;
    letter-spacing: 0;
    transform: translateY(-70px);
}
footer .details .aboutcompany{
    padding: 0px;
    padding-right: 70px;
    font-size: 20px;
}
footer .details .aboutcompany h1{
    margin: 0 !important;
    font-size: 36px;
}
footer .details .aboutcompany .lorem{
    color: gray;
}
